ul{
    list-style: none;
    font-size: 20px;
}

li{
    margin-bottom: 10px;
    padding: 5px;
}

li:hover{
    background-color: #05fcbe;
    border-radius: 3px;
}

body{
    background-color: #ff214d;
    font-family: 'Dancing Script', cursive;
    
}

h1{
    text-align: center;
}
img {
    width: 250px;
    height: auto;
}
a {
    text-decoration: none;
    color: black;
}
.pomodoro-estimate{
    font-weight: bold;
    color: #11ff2d;
    background-color: #d8d0cd;
    border-radius: 50px;
}
.card{
    background-color: #FFF;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #90A4E;
    
}
.button{
    font-size: 20px;
    text-align: center;
    color: #FFF;
    outline: none;
    border-style: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px #98A4AE;
}

.button:active{
    box-shadow: 1px 1px 1px #98A4AE;
}

.completed-todo{
    text-decoration: line-through;
}

#edit-todo-button {
    display: inline-block;
    width: 40px;
    background-color: #1ABC9C;
    margin-right: 5px;
}

#new-todo-block{
    width: 60px;
    margin: 20px auto 0px auto;
}

#add-new-todo-button{
    display: block;
    background-color: #03A9F4;
    margin-top: 10px;
    height: 100px;
}

#delete-todo-button{
    display: inline-block;
    width: 60px;
    background-color: #F44336;
    
}

.text-input {
    font-size: 20px;
    background-color: #FFF;
    outline: none;
    border-style: none;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #98A4AE;
}